<!DOCTYPE html>
<html>
<head>
	<title>Remove a restaurant</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css' )}}" />
</head>
<body>
	<div class="row">
		<div class="small-12 columns">
			<h1>Remove a restaurant</h1>		
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="{{ url_for('restaurantList') }}">All restaurants</a></li>
					<li class="disabled">Delete restaurant</li>
				</ul>
			</nav>		
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h5>Are you sure you want to delete <i>{{ restaurantToDelete.name }}</i>?</h5>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Click below to remove <i>{{ restaurantToDelete.name }}</i> and all items in its menu from the database.</p>
		</div>
	</div>
	<form action="{{ url_for('deleteRestaurant', restaurant_id=restaurantToDelete.id) }}" method="POST">
		<div class="row">
			<div class="small-12 columns">
				<div class="button-group float-right">
					<input type="submit" class="alert button" value="Delete">
					<a class="secondary button" href="{{ url_for('restaurantList') }}">Cancel</a>
				</div>
			</div>
		</div>
	</form>
</body>
</html>