<!DOCTYPE html>
<html>
<head>
	<title>Add a new menu item</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css' )}}" />
	{% from "__formhelper.html" import render_field %}
</head>
<body>
	<div class="row">
		<div class="small-12 columns">
			<h1>Add an item to the menu of restaurant.name</h1>
		</div>
	</div>
	<form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="POST">
		<div class="row">
			<div class="small-12 columns">
				<dl>
					{{ render_field(form.dishName, placeholder="Baked Alaska") }}
					{{ render_field(form.dishDescription, placeholder="Ice cream and cake topped with a toasted meringue") }}
					{% if courseList %}
					{{ render_field(form.course, aria_describedby="courseHelpText", placeholder="Dessert") }}
					<p class="help-text" id="courseHelpText">This restaurant's menu currently has these courses: {{ courseList|join(", ") }}.</p>
					{% else %}
					{{ render_field(form.course, placeholder="Dessert") }}
					{% endif %}
					{{ render_field(form.price, placeholder="8.99") }}
  				</dl>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div class="button-group float-right">
					<input type="submit" class="success button" value="Add">
					<a class="secondary button" href="{{ url_for('restaurantMenu', restaurant_id=restaurant_id) }}">Cancel</a>
				</div>
			</div>
		</div>
	</form>

</body>
</html>