<!DOCTYPE html>
<html>
<head>
	<title>Add a new restaurant</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css' )}}" />
	{% from "__formhelper.html" import render_field %}
</head>
<body>
	<div class="row">
		<div class="small-12 columns">
			<h1>Add a new restaurant</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<form action="{{ url_for('newRestaurant') }}" method="POST">
				<dl>
					{{ render_field(form.address, placeholder="1 Wall Street") }}
					{{ render_field(form.city, placeholder="New York") }}
					{{ render_field(form.postCode, placeholder="10005") }}
					{{ render_field(form.phone, placeholder="+1-555-123-4567") }}
					{{ render_field(form.website, placeholder="www.fantastic-eats.com") }}
  				</dl>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="button-group float-right">
				<input type="submit" class="success button" value="Add">
				<a class="secondary button" href="#">Cancel</a>
			</div>
		</div>
	</div>

</body>
</html>