<!DOCTYPE html>
<html>
<head>
	<title>List of restaurants</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css') }}">
</head>
<body>
	<div class="row">
		<div class="small-12 columns">
			<h1>List of restaurants</h1>
		</div>
	</div>
	{% for restaurant in restaurantResults%}
	<div class="row">
		<div class="callout clearfix">
			<div class="small-12 medium-10 columns">
				<dl>
					<dt><a href="{{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a></dt>
					<dd>{{ restaurant.address }}</dd>
					<dd>{{ restaurant.city }}</dd>
					<dd>{{ restaurant.postcode }}</dd>
					<dd>{{ restaurant.phone }}</dd>
					<dd>{{ restaurant.website }}</dd>
				</dl>
			</div>
			<div class="small-12 medium-2 columns">
				<div class="expanded button-group">
					<a class="button" href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
					<a class="button" href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="row">
		<div class="small-12 columns">
			<a class="expanded button" href="{{ url_for('newRestaurant') }}">Add a new restaurant</a>
		</div>
	</div>
	
</body>
</html>