<!DOCTYPE html>
<html>
<head>
	<title>{{ restaurant.name }} - menu</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css' )}}" />
</head>
<body>
	{% if courseList|length > 0 %}
	<div class="row">
		<div class="small-12 columns">
			<ul class="tabs" data-tabs id="course-tabs">
				{% for course in courseList %}
					<li class="tabs-title"><a href="#panel{{ loop.index }}">{{ course }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="{{ url_for('restaurantList') }}">All restaurants</a></li>
					<li class="disabled">{{ restaurant.name}} menu</li>
				</ul>
			</nav>		
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="tabs-content" data-tabs-content="course-tabs">
				{% for course in courseList %}
				<div class="tabs-panel" id="panel{{ loop.index }}">
          			{% for item in menuItems[loop.index0] %}
          			<div class="row">
          				<div class="small-12 medium-8 columns">
          					<dl>
	          					<dt>{{ item.name }}</dt>
	          					{% if item.description %}
	          					<dd>{{ item.description }}</dd>
	          					{% endif %}
          					</dl>
          				</div>
          				<div class="small-6 medium-1 columns">
          					<p>${{ item.price / 100 }}</p>
          				</div>
          				<div class="small-6 medium-3 columns">
          					<div class="expanded button-group">
	          					<a class="button" href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">Edit</a>
	          					<a class="button" href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">Delete</a>
          					</div>
          				</div>
          			</div>
          			{% endfor %}
        		</div>
				{% endfor %}
			</div>	
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="small-12 columns">
			<div class="callout">
				<h5>There doesn't seem to be anything here.</h5>
				<p>Try adding some menu items with the button below.</p>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="small-12 columns">
			<a class="expanded button" href="{{ url_for('newMenuItem', restaurant_id=1) }}">Add to the menu</a>
		</div>
	</div>

	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='what-input.min.js') }}"></script>
	<script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
	<script>
		$(document).foundation();
	</script>
	{% if courseList|length > 0 %}
	<script>
		$("#course-tabs").foundation("selectTab","panel1");
	</script>
	{% endif %}
</body>
</html>